@font-face {
    font-family: 'porsha_richelaregular';
    src: url('../fonts/porsharichela-webfont.eot');
    src: url('../fonts/porsharichela-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/porsharichela-webfont.woff2') format('woff2'),
         url('../fonts/porsharichela-webfont.woff') format('woff'),
         url('../fonts/porsharichela-webfont.ttf') format('truetype'),
         url('../fonts/porsharichela-webfont.svg#porsha_richelaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bella_donna_personal_useRg';
    src: url('../fonts/bella_donna_personal_use-webfont.eot');
    src: url('../fonts/bella_donna_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bella_donna_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/bella_donna_personal_use-webfont.woff') format('woff'),
         url('../fonts/bella_donna_personal_use-webfont.ttf') format('truetype'),
         url('../fonts/bella_donna_personal_use-webfont.svg#bella_donna_personal_useRg') format('svg');
    font-weight: normal;
    font-style: normal;

}